{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    Seu carrinho de compras
{% endblock %}

{% block 'content' %}
    <h1>Seu carrinho de compras</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Remover</th>
                <th>Preço Unidade</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                                {{ item.update_quantity_form.quantity}}
                                {{ item.update_quantity_form.override }}
                                <input type="submit" value="Atualizar">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'cart:cart_remove' product.id %}" method="POST">
                                <input type="submit" value="Excluir">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td class="num">R$ {{ item.price }}</td>
                        <td class="num">R$ {{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            {% if cart.coupon %}
        <tr style="border: 2px solid #ff9e15;" class="subtotal">
          <td>Subtotal</td>
          <td colspan="4"></td>
          <td class="num">R$ {{ cart.get_total_price|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            "{{ cart.coupon.code }}" Cupom
            ({{ cart.coupon.discount }}% off)
          </td>
          <td colspan="4"></td>
          <td class="num neg">
            - R${{ cart.get_discount|floatformat:2 }}
          </td>
        </tr>
      {% endif %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">
          R$ {{ cart.get_total_price_after_discount|floatformat:2 }}
        </td>
      </tr>
    </tbody>
  </table>
  {% if recommended_products %}
  <div class="recommendations cart">
    <h3>Quem comprou isso também comprou</h3>
    {% for p in recommended_products %}
      <div class="item">
        <a href="{{ p.get_absolute_url }}">
          <img src="{% if p.image %}{{ p.image.url }}{% else %}
          {% static 'img/no_image.png' %}{% endif %}">
        </a>
        <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
      </div>
    {% endfor %}
  </div>
{% endif %}
    <p style="font-size: 25px;">Aplique um cupom:</p>
    <form action="{% url 'coupons:apply' %}" method="post">
        {{ coupon_apply_form }}
        <br>
        <input type="submit" value="Aplicar">
        {% csrf_token %}
    </form>
    <p class="text-right">
        <a href="{% url 'shop:product_list' %}" style="border: 2px solid #ff9e15;" class="button light">Continuar comprando</a>
        <a href="{% url 'orders:order_create' %}" style="border: 2px solid #ff9e15;" class="button">Ir para pagamento</a>
    </p>
{% endblock %}